.seconddiv, h3 {
  color: red;
}

li a[href="www.npr.org"]{
  color: brown;
  border: 3px dotted purple;
}

div.firstdiv {
  color:blue
}

#singledout {
  color: green;
}

h3 ~ ul {
  border: 3px dotted purple;
}

li {
  color: red
}

.topitems {
  color: blue
}

#two {
  border: 3px solid black; 
}
